@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif -apple-system;
}
html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.header {
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 14px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(rgba(60, 54, 66, 0.05), rgb(20, 12, 29));
}

.glass {
    padding: 14px 50px;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(rgba(60, 54, 66, 0.05), rgb(20, 12, 29));
}








@tailwind base;
@tailwind components;
@tailwind utilities;
